name: Build and Publish
on: [push]
jobs:
  build-jni:
    name: Build JNI interface with SWIG
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master
      - name: Setup OpenJDK 13
        uses: actions/setup-java@v1
        with:
          java-version: 13-ea
      - name: Preparation for build
        run: |
          sudo apt-get update -y
          sudo apt-get install -y swig
      - name: Build interface with SWIG
        working-directory: swig
        run: make java
      - name: Store JNI interface as artifact
        uses: actions/upload-artifact@v1
        with:
          name: jni-interface
          path: java
  
  build-library-linux:
    name: MeCab library build - Linux
    needs: build-jni
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@master
      - name: Install MeCab
        run: |
          ./configure
          sudo make
          sudo make install
      - name: Download artifact from previous job
        uses: actions/download-artifact@v1
        with:
          name: jni-interface
      - name: Build library
        working-directory: jni-interface
        run: |
          chmod 755 run-linux.sh
          ./run-linux.sh
      - name: Store library as artifact
        uses: actions/upload-artifact@v1
        with:
          name: mecab-library-linux
          path: jni-interface/lib/libMeCab.so

  build-library-macos:
    name: MeCab library build - macOS
    needs: build-jni
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@master
      - name: Install MeCab
        run: |
          ./configure
          sudo make
          sudo make install
      - name: Download artifact from previous job
        uses: actions/download-artifact@v1
        with:
          name: jni-interface
      - name: Build library
        working-directory: jni-interface
        run: |
          chmod 755 run-macos.sh
          ./run-macos.sh
      - name: Store library as artifact
        uses: actions/upload-artifact@v1
        with:
          name: mecab-library-macos
          path: jni-interface/lib/libMeCab.dylib
  
  build-and-publish:
    name: Build and Publish
    needs: [build-library-linux, build-library-macos]
    runs-on: ubuntu-18.04
    steps:
      - name: Setup OpenJDK 13
        uses: actions/setup-java@v1
        with:
          java-version: 13-ea
      - name: Download JNI interface
        uses: actions/download-artifact@v1
        with:
          name: jni-interface
      - name: Download prebuilt library - Linux
        uses: actions/download-artifact@v1
        with:
          name: mecab-library-linux
          path: jni-interface/lib
      - name: Download prebuilt library - macOS
        uses: actions/download-artifact@v1
        with:
          name: mecab-library-macos
          path: jni-interface/lib
      - name: Build JAR
        working-directory: jni-interface
        run: |
          chmod 755 run-build.sh
          ./run-build.sh
      - name: Publish to Github Packages
        working-directory: jni-interface
        run: USERNAME=harrydrippin GITHUB_TOKEN={{ secrets.GITHUB_TOKEN }} gradle publish
